<!DOCTYPE html>
<html>

  <%= render_component "head" %>

  <body>
    <div class="uk-offcanvas-content">
      <div class="uk-navbar-container uk-navbar-transparent" uk-navbar="uk-navbar">
        <div id="mobile-nav" uk-offcanvas="overlay: true">
          <div class="uk-offcanvas-bar uk-flex uk-flex-column" style="background: #fff0 !important;">
            <ul class="uk-nav-parent-icon uk-nav-primary uk-nav-center uk-margin-auto-vertical" uk-nav>
              <a class="uk-navbar-item uk-logo" href="<%= base_url %>"><img src="<%= base_url %>img/icons/icon.png" style="width:231px;height:168px;"></a>
              <li><a href="<%= base_url %>">书架</a></li>
              <li><a href="<%= base_url %>library">Mango 漫库</a></li>
              <li><a href="<%= base_url %>tags">捐助❤️</a></li>
              <% if is_admin %>
                <li><a href="<%= base_url %>admin">Admin</a></li>
              <% end %>
              <hr uk-divider>
              <li><a onclick="toggleTheme()"><i class="fas fa-adjust"></i></a></li>
              <li><a href="<%= base_url %>logout">登出</a></li>
            </ul>
            <video id="background-video" loop muted autoplay style="position: absolute; top: 0; left: 0; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -1; object-fit: cover;">
            <source src="https://jsd.cdn.zzko.cn/gh/lizina66/box@main/acgapi/acg/12374.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-position-top">
      <div class="uk-navbar-container uk-navbar-transparent" uk-navbar="uk-navbar">
        <div class="uk-navbar-left uk-hidden@m">
          <div class="uk-navbar-toggle" uk-navbar-toggle-icon="uk-navbar-toggle-icon" uk-toggle="target: #mobile-nav"></div>
        </div>
        <div class="uk-navbar-left uk-visible@m">
          <a class="uk-navbar-item uk-logo" href="<%= base_url %>"><img src="<%= base_url %>img/icons/icon.png" style="width:154px;height:112px;"></a>
          <ul class="uk-navbar-nav">
            <li><a href="<%= base_url %>">书架</a></li>
            <li><a href="<%= base_url %>library">Mango漫库</a></li>
            <li><a href="<%= base_url %>tags">捐助❤️</a></li>
            <% if is_admin %>
              <li><a href="<%= base_url %>admin">Admin</a></li>
            <% end %>
          </ul>
        </div>
        <div class="uk-navbar-right uk-visible@m">
          <ul class="uk-navbar-nav">
            <li><a onclick="toggleTheme()"><i class="fas fa-adjust"></i></a></li>
            <li><a href="<%= base_url %>logout">登出</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-section uk-section-small">
    </div>
    <div class="uk-section uk-section-small" style="position:relative;">
      <div class="uk-container uk-container-small">
        <div id="alert"></div>
        <%= content %>
        <div class="uk-visible@m" id="totop-wrapper" x-data="{}" x-show="$('body').height() > 1.5 * $(window).height()">
          <a href="#" uk-totop uk-scroll></a>
        </div>
      </div>
    </div>
    <script>
      setTheme();
            const base_url = "<%= base_url %>";
    </script>
    <%= render_component "uikit" %>
    <%= yield_content "script" %>
  </body>

</html>
